.feature{

  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint-up(medium){
    text-align: left;
  }
  &__intro{

    margin-bottom: toRem(60);

    @include breakpoint-up(large){
      width: 60%;
    }

  }
  &__grid{
    @include breakpoint-up(medium){
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item{
    padding: toRem(15);
    @include breakpoint-up(medium){
      flex: 0 0 50%;
      flex-wrap: wrap;
    }
    @include breakpoint-up(large){
      flex: 1;
    }
  }
  &__icon{
    margin-bottom: toRem(30);

    @include breakpoint-up(large){
      margin-bottom: toRem(44);
    }
  }
  &__title{
    font-size: toRem(20);
    font-weight: 300;
    line-height: 1.15;
    color: $darkBlue;
    margin-bottom: toRem(16);
    @include breakpoint-up(large){
      font-size: toRem(24);
      margin-bottom: toRem(34);
    }
  }
  &__description{
    font-size: toRem(14);
    line-height: 1.5;
  }

}