html {
  font-size: 100%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    font-size: $font-sm;
    font-weight: 300;
    color: $grayishBlue;
    line-height: 1.3;
    min-height: 200vh;
    overflow-x: hidden;

    @include breakpoint-up(large){
        font-size: $font-med;
    }

    &.noscroll {
        overflow: hidden;
    }
}

//text
h1, h2, h3{
    margin-top: 0;
    font-weight: 300;
    font-size: toRem(37);
    color: $darkBlue;
    line-height: 1.15;
}
h2{
    font-size: toRem(30);
    margin-bottom: toRem(25);

    @include breakpoint-up(large){
        font-size: toRem(36);
        margin-bottom: toRem(36);
    }
}
h1{
    margin-bottom: toRem(24);

    @include breakpoint-up(large){
        font-size: $font-xlg;
    }
}
p{
    line-height: 1.5;
    margin-bottom: toRem(36);

}
a, a:visited, a:hover {
    text-decoration: none;
}
//spacing
.container {
    max-width: toRem(1110);
    margin: 0 auto;

    &--pall {
        padding-top: toRem(70);
        padding-right:toRem(24);
        padding-bottom: toRem(70);
        padding-left:toRem(24);

        @include breakpoint-up(large){
            padding-bottom: toRem(96);
            padding-top: toRem(96);
        }
    }
    &--py {
        padding-top: toRem(70);
        padding-bottom: toRem(70);

        @include breakpoint-up(large){
            padding-bottom: toRem(96);
            padding-top: toRem(96);
        }
    }
    &--px {
        padding-right:toRem(24);
        padding-left:toRem(24);
    }
    &--pt {
        padding-top: toRem(70);

        @include breakpoint-up(large){
            padding-top: toRem(96);
        }
    }
    &--pr {
        padding-right:toRem(24);
    }
    &--pb {
        padding-bottom: toRem(70);

        @include breakpoint-up(large){
            padding-bottom: toRem(96);
        }
    }
    &--pl {
        padding-left:toRem(24);
    }
}
// flexbox
.flex {
    display: flex;
    
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

// buttons
button, .button{
    position: relative;
    display: inline-block;
    padding: toRem(14) toRem(35);
    background-image: linear-gradient(to right, $limeGreen, $brightCyan);
    border: 0;
    color: $white;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: $font-sm;
    transition: opacity 300ms ease-in-out;
    overflow: hidden;


    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
    &:hover::before{
      opacity:1;
    }
}
// visibility 
.hide-for-mobile {
    @include breakpoint-down(medium){
    display: none;
    }
}
.hide-for-desktop {
    @include breakpoint-up(large){
    display: none;
    }
}